<!-- Additional SEO structured data -->
{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": "{{ site.url }}{{ site.baseurl }}/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }}
  },
  "description": {{ page.excerpt | strip_html | truncate: 160 | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>
{% endif %}
